.maps__Wrapper {
    position: relative;
}
.maps__Wrapper .maps__Close {
    display: none;
}
.maps__Wrapper .Content__Wrapper {
    position: relative;
}
.maps__Wrapper .Content__Wrapper img, .maps__Wrapper .Content__Wrapper p, .maps__Wrapper .Content__Wrapper label{
    display: block;
    margin: auto;
}
.maps__Wrapper .Content__Wrapper img{
    width: 100%;
}
.maps__Wrapper .maps__Modal__Content {
    background: #131313;
    border-radius: 5px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
    color: #fff;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 360px;
    z-index: 4;
}
.maps__Wrapper .maps__Modal__Content .Content__Wrapper {
    padding: 20px;
}
.maps__Wrapper .maps__Modal__Content .Content__Wrapper .maps__Title {
    font-size: 16px;
    text-transform: uppercase;
}
.maps__Wrapper .maps__Modal__Content .Content__Wrapper p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.maps__Wrapper .maps__Input {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 0;
    z-index: -1;
}
.maps__Wrapper .maps__Input + .maps__Label {
    background: #ec2256;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    position: absolute;
    transition: all 300ms ease;
    width: 20px;
    z-index: 2;
}
@media (min-width: 768px) {
    .maps__Wrapper .maps__Input + .maps__Label {
        height: 30px;
        width: 30px;
   }
}
.maps__Wrapper .maps__Input + .maps__Label:before, .maps__Wrapper .maps__Input + .maps__Label:after {
    background: #fff;
    content: "";
    cursor: pointer;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.maps__Wrapper .maps__Input + .maps__Label:before {
    height: 2px;
    width: 40%;
}
.maps__Wrapper .maps__Input + .maps__Label:after {
    height: 40%;
    width: 2px;
}
.maps__Wrapper .maps__Input ~ .maps__Overlay {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
}
.maps__Wrapper .maps__Input:checked + .maps__Label {
    transform: rotate(45deg);
}
.maps__Wrapper .maps__Input:checked ~ .maps__Modal__Content {
    opacity: 1;
    visibility: visible;
}
.maps__Wrapper .maps__Input:checked ~ .maps__Overlay {
    display: block;
}
.maps__Wrapper.maps__Blur figure {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.maps__Wrapper.maps__Blur .maps__Input {
    display: none;
}
.maps__Wrapper.maps__Blur .maps__Input + .maps__Label {
    opacity: 0.5;
    pointer-events: none;
}
.maps__Wrapper.maps__Blur .maps__Input:checked {
    display: inline-block;
}
.maps__Wrapper.maps__Blur .maps__Input:checked + .maps__Label {
    opacity: 1;
    pointer-events: auto;
}
.maps__Modal {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
@media (max-width: 768px) {
    .maps__Wrapper .maps__Modal__Content {
        bottom: auto !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
   }
    .maps__Wrapper .maps__Modal__Content .maps__Close {
        background: #ec2256;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 20px;
        right: -5px;
        position: absolute;
        top: -5px;
        transition: all 300ms ease;
        transform: rotate(45deg);
        width: 20px;
        z-index: 5;
   }
    .maps__Wrapper .maps__Modal__Content .maps__Close:before, .maps__Wrapper .maps__Modal__Content .maps__Close:after {
        background: #fff;
        content: "";
        cursor: pointer;
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
   }
    .maps__Wrapper .maps__Modal__Content .maps__Close:before {
        height: 2px;
        width: 40%;
   }
    .maps__Wrapper .maps__Modal__Content .maps__Close:after {
        height: 40%;
        width: 2px;
   }
}
